[buildout]
parts = pySPACEOptimizer python test
develop = .
eggs = pySPACEOptimizer
# Undeclared dependencies for hyperopt
       networkx
       pymongo<=2.4

[pySPACEOptimizer]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}


[test]
recipe = pbp.recipe.noserunner
eggs = ${buildout:eggs}

[python]
recipe = zc.recipe.egg:scripts
interpreter = python
eggs=${buildout:eggs}

